<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name = "suite" parallel="classes">
    <listeners>
        <listener class-name="com.automation.listeners.AllureListener"></listener>
    </listeners>
    <test name = "ShoppersStop Test">
        <classes>
            <class name="com.automation.tests.BagTest"></class>
            <class name="com.automation.tests.BeautyStopTest"></class>
            <class name="com.automation.tests.CartTest"></class>
            <class name="com.automation.tests.FilterTest"></class>
            <class name="com.automation.tests.StyleHubTest"></class>
            <class name="com.automation.tests.GiftCardTest"></class>
            <class name="com.automation.tests.HomeTest"></class>
            <class name="com.automation.tests.MembershipTest"></class>
            <class name="com.automation.tests.MiscellaneousTest"></class>
            <class name="com.automation.tests.ProductTest"></class>
            <class name="com.automation.tests.SortTest"></class>
            <class name="com.automation.tests.StoreNLogoutTest"></class>
        </classes>
    </test>
</suite>