<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->

<!--<suite name = "suite" parallel="classes">-->
<!--    <test name = "Login Test">-->
<!--        <classes>-->
<!--            <class name = "com.automation.tests.LoginTest"/>-->
<!--            <class name="com.automation.tests.HomeTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->